ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.job-card-container {
  background-color: #202020;
  width: 100%;
  max-width: 900px;
  padding: 20px;
  margin: 20px 0px;
  border-radius: 20px;
}
.logo-tile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.company-logo {
  width: 100%;
  max-width: 70px;
}

.job-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
}

.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.star-icon-card {
  color: gold;
}

.job-type-location-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.job-type-location {
  display: flex;
  gap: 20px;
}
.icon-type-container {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #ffffff;
}

.job-description,
.package,
.description,
.job-rating {
  color: #ffffff;
}
.job-card-link {
  text-decoration: none;
}
